.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.carform{
  border: 1px solid #ADB8C4;
  margin-top: 5px;
  margin-bottom: 5px;
border-radius: 3px;
}

.color{
  color: white;
}

.btnColor{
  background-color: pink;
}

.App-link {
  color: #61dafb;
}

.contenedor {
  align-items: stretch;
  flex-direction: row;
}

.separacion{
  margin: 10px;
}
.contenedorCade{
  margin-top: 80px;
  
}

.estiloImagen{
  -webkit-box-shadow: 2px 5px 16px 0px #0000000a, 2px 2px 50px 0px rgba(0, 0, 0, 0.027); 
  box-shadow: 2px 5px 16px 0px #0000001c, 2px 2px 50px 0px rgba(0, 0, 0, 0.027);
  border-radius: 10px;
  }
  body#tinymce {
  background: #000000
  }


  .elDetalle{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
    -webkit-column-rule: 1px solid transparent;
    -moz-column-rule: 1px solid transparent;
    column-rule: 1px solid transparent;
    }

  .bordeBoton{
    display: inline;
    border: 1px solid rgba(0,0,0,0.19);
border-radius: 5px;
}

.textoDentro{
  display: inline-flexbox;
  text-align: center;
  width: 50px;
  margin: none;
}

.btn-eliminar{
  margin-left: 10px;
}

#carritoDetalle {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30%px;
  -moz-column-gap: 70%;
  column-gap: 100px;
  -webkit-column-rule: 1px solid rgba(0, 0, 0, 0.055);
  -moz-column-rule: 1px solid rgba(0, 0, 0, 0.062);
  column-rule: 1px solid rgba(0, 0, 0, 0.151);
  }

  .trans:hover {
    opacity: 1;
    transition: 1s;
}

.imagenContenedor {
  width: 100%;
  height: 100%;
}

.contenedorArticulos{
  display: inline-block;
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
